.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.ba-banner {
  background: url(../img/banner.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.title-bar {
  float: left;
}

.top-bar {
  background-color: $black;
  .dropdown {
    background-color: $black;
  }
  @include breakpoint(large) {
    background-color: transparent;
    .dropdown {
      background-color: transparent;
    }
  }
}

.ba-header {
  background-color: $black;
  position: relative;
  @include breakpoint(large) {
    background-color: transparent;
  }
}
.ba-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 42px;
  &__link {
    color: $white;
    text-transform: uppercase;
  }
  @include breakpoint(large) {
    position: static;
    transform: none;
    &__link {
      color: $black; 
    }
  }
}








